body {
    background-image: url("backgroundimage4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

#name {
    color: rgb(98, 95, 95);
    text-align: center;
}

.short_intro {
    text-align: center;
    color: rgb(117, 115, 115);
}

.profileimage {
    display: block; 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

span {
    color: red;
    font-weight: bold;
}

#zebratable table {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    border-spacing: 0px;
}

#zebratable th {
    background-color: rgb(167, 78, 167);
    border: none;
    border-spacing: 0px;
    color:aliceblue;
}

#zebratable tr:nth-child(odd) {
    background-color: rgb(103, 102, 102);
    border: none;
    border-spacing: 0px;
}
#zebratable tr:nth-child(even) {
    background-color: white;
    border: none;
    border-spacing: 0px;
}

#zebratable td {
    text-align: center;
    vertical-align: middle;
    border-spacing: 0px;
}

#quote .p1 {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#quote .p2 {
    font-weight: bold;
    text-align: center;
}

.hobbies {
    list-style-type:circle;
    
}

.sports {
    list-style-type:circle;
}

.headings {
    border-bottom: 3px dashed;
    display: inline-block;
    color:blueviolet;
    margin-top: 30px;
    margin-bottom: 0px;
}

.listheadings {
    font-style: italic;
    color: gray;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 1px dashed;
}

a:link, a:visited, a:active {
    color: rgb(189, 139, 206);
}

a:hover {
    color: brown;
}
