body {
    background-image: url("backgroundimage4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

#name {
    color: rgb(98, 95, 95);
    text-align: center;
}

.short_intro {
    text-align: center;
    color: rgb(117, 115, 115);
}

.profileimage {
    display: block; 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

span {
    color: red;
    font-weight: bold;
}

#zebratable table {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    border-spacing: 0px;
}

#zebratable th {
    background-color: violet;
    border: none;
    border-spacing: 0px;
}

#zebratable tr:nth-child(even) {
    background-color: grey;
    border: none;
    border-spacing: 0px;
}

#zebratable td {
    text-align: center;
    vertical-align: middle;
    border-spacing: 0px;
}

#quote .p1 {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#quote .p2 {
    font-weight: bold;
    text-align: center;
}

.hobbies {
    list-style-type:circle;
    margin-top: 5px;
}

.sports {
    list-style-type:circle;
    margin-top: 5px;
}

.listheadings {
    text-decoration: underline;
}

a:link, a:visited, a:active {
    color: blue;
}

a:hover {
    color: brown;
}
