body {
    background-image: url("backgroundimage4.jpg");
    background-repeat: no-repeat;
    font-family: sans-serif;
}

#name {
    color: rgb(98, 95, 95);
    text-align: center;
}

.short_intro {
    text-align: center;
    color: rgb(117, 115, 115);
}

.profileimage {
    display: block; 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

span {
    color: red;
    font-weight: bold;
}

#zebratable table {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    border-spacing: 0px;
}

#zebratable th {
    background-color: rgb(240, 189, 95);
    border: none;
    border-spacing: 0px;
}

#zebratable tr:nth-child(2) {
    background-color: greenyellow;
    border: none;
    border-spacing: 0px;
}

#zebratable tr:nth-child(3) {
    background-color: rgb(226, 167, 226);
    border: none;
    border-spacing: 0px;
}

#zebratable tr:nth-child(4) {
    background-color: rgb(190, 228, 242);
    border: none;
    border-spacing: 0px;
}

#zebratable tr:nth-child(5) {
    background-color: rgb(148, 159, 248);
    border: none;
    border-spacing: 0px;
}

#zebratable tr:nth-child(6) {
    background-color: rgb(221, 247, 193);
    border: none;
    border-spacing: 0px;
}

#zebratable tr:nth-child(7) {
    background-color: rgb(175, 206, 184);
    border: none;
    border-spacing: 0px;
}

#zebratable td {
    text-align: center;
    vertical-align: middle;
    border-spacing: 0px;
}

#quote .p1 {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#quote .p2 {
    font-weight: bold;
    text-align: center;
}

.hobbies {
    list-style-type:circle;
}

.listheadings {
    text-decoration: underline;
}

a:link {
    color: rgb(132, 0, 255);
}

a:visited {
    color: green;
}

a:hover {
    color: brown;
}

a:active {
    color: blue;
}
